{
  "env": {
    "development": {
      "presets": [
        [
          "env",
          { "modules": false }
        ],
        "react",
        "stage-2"
      ],
      "plugins": [
        "transform-runtime"
      ]
    },
    "production": {
      "plugins": [
        "transform-runtime"
      ]
    }
  }
}
